body{
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 22%, rgba(0,212,255,1) 100%);
}

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;}
p{color: aliceblue;}
img{
    border-radius: 8px;
    display: block;
    margin-left: 80%;
    ;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 79%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 32%;
    height: 0;
    transition: .5s ease;
    border-radius: 8px;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
.center { margin: left;
  width: 25%;
  border: 5px solid #ffff;
  padding: 10px;
border-style:groove;
border-bottom: 0ch;}
h2{font-family: 'Times New Roman', Times, serif;
color:aliceblue;

}
h3{border-bottom: 2px solid aliceblue;}

.cabeça { margin: auto;
  border: 5px solid #ffff;
  padding: 10px;
border-style: groove;}
.linha{border-bottom:2px solid aliceblue}















